# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore crash logs
crash.log

# Ignore override files
*.override
*.override.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore Terraform directory
.terraform/

